{% extends 'base_lte.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/plugins/timepicker/bootstrap-timepicker.min.css">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Courier List</h3>
            </div>
            <div class="box-body">
                <table id="courier_list" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Available Time(s)</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for courier in couriers %}
                    <tr>
                      <td>
                          <a href="{{ url_for('courier_detail', id= courier.id) }}">{{ courier.name }}</a>
                      </td>
                      <td>{{ courier.address }}</td>
                      <td>{{ courier.available_time_start }} - {{ courier.available_time_stop }}</td>
                      <td><a href="{{ url_for('delete_courier', id=courier.id) }}"><i class="fa fa-trash text-danger"></i></a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-courier-modal">Add</button>

<div class="modal fade add-courier-modal modal-info" tabindex="-1" role="dialog" aria-labelledby="courierLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add New Courier</h4>
            </div>

            <form action="" method="post" name="courier">
            <div class="modal-body">
                <div style="color: #e42323">
                  {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                  {% endwith %}
                </div>
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="{{ form.name.id }}">{{ form.name.label.text }}</label>
                        {{ form.name(class_="form-control") }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.address.id }}">{{ form.address.label.text }}</label>
                        {{ form.address(class_="form-control") }}
                    </div>

                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label for="{{ form.available_time_start.id }}">{{ form.available_time_start.label.text }}</label>
                            <div class="input-group">
                                {{ form.available_time_start(class_="form-control timepicker") }}
                                <div class="input-group-addon">
                                  <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                          <label>{{ form.available_time_stop.label.text }}</label>

                          <div class="input-group">
                                {{ form.available_time_stop(class_="form-control timepicker") }}

                            <div class="input-group-addon">
                              <i class="fa fa-clock-o"></i>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                    </div>



                  </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-sm">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/static/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script>
    $(function() {
    $("#courier_list").DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": true
    });

    $(".timepicker").timepicker({
      showInputs: false
    });
    });
  </script>
{% endblock %}