{% extends 'base_lte.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/plugins/timepicker/bootstrap-timepicker.min.css">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <h3 class="profile-username text-left">
                    {{ courier.name }}
                </h3>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Address</b>
                        <a class="pull-right">
                            {{ courier.address }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <b>Available Time</b>
                        <a class="pull-right">
                            {{ courier.available_time_start }} - {{ courier.available_time_stop }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-courier-modal">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                    History
                </h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Pick Up Location</th>
                            <th>Pick Up address Info</th>
                            <th>Pick Up time</th>
                            <th>Drop Off Location</th>
                            <th>Drop Off address info</th>
                            <th>Delivered time</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade add-courier-modal modal-info" tabindex="-1" role="dialog" aria-labelledby="courierLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update-{{ courier.name }}</h4>
            </div>

            <form action="" method="post" name="courier">
            <div class="modal-body">
                <div style="color: #e42323">
                  {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                  {% endwith %}
                </div>
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="{{ form.name.id }}">{{ form.name.label.text }}</label>
                        {{ form.name(class_="form-control") }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.address.id }}">{{ form.address.label.text }}</label>
                        {{ form.address(class_="form-control") }}
                    </div>

                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label for="{{ form.available_time_start.id }}">{{ form.available_time_start.label.text }}</label>
                            <div class="input-group">
                                {{ form.available_time_start(class_="form-control timepicker") }}
                                <div class="input-group-addon">
                                  <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                          <label>{{ form.available_time_stop.label.text }}</label>

                          <div class="input-group">
                                {{ form.available_time_stop(class_="form-control timepicker") }}

                            <div class="input-group-addon">
                              <i class="fa fa-clock-o"></i>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                    </div>



                  </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>




<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
    <div class="mdl-card__title">

    </div>
    <div class="mdl-card__supporting-text">
        <ul class="mdl-list">
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <span>Name:</span>
                <span class="mdl-list__item-sub-title">
                    {{ courier.name }}
                </span>
            </span>
        </li>
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <span>Address:</span>
                <span class="mdl-list__item-sub-title">
                    {{ courier.address }}
                </span>
            </span>
        </li>

        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <span>Available:</span>
                <span class="mdl-list__item-sub-title">
                    {{ courier.available_time_start }} - {{ courier.available_time_stop }}
                </span>
            </span>
        </li>

    </ul>
    </div>
    <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--fab mdl-button--colored"><i class="material-icons">mode_edit</i></button>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
  <div class="mdl-card__title">
      <h4>History</h4>
  </div>
  <div class="mdl-card__supporting-text">
        history
  </div>
</div>


{% endblock %}

{% block extra_js %}
    <script src="/static/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script>
    $(function() {

    $(".timepicker").timepicker({
      showInputs: false
    });
    });
  </script>
{% endblock %}