{% extends 'base.html' %}
{% block content %}

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Address</th>
      <th class="mdl-data-table__cell--non-numeric">Available Time</th>
      <th class="mdl-data-table__cell--non-numeric">Action</th>

    </tr>
  </thead>
  <tbody>
    {% for courier in couriers %}
    <tr>
      <td class="mdl-data-table__cell">{{ courier.name }}</td>
      <td class="mdl-data-table__cell">{{ courier.address }}</td>
      <td class="mdl-data-table__cell">
          {{ courier.available_time_start }} - {{ courier.available_time_stop }}
      </td>
      <td class="mdl-data-table__cell"><i class="material-icons">mode_edit</i>&nbsp;<i class="material-icons">delete</i></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}