{% extends 'base_lte.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="/static/plugins/timepicker/bootstrap-timepicker.min.css">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Delivery Jobs</h3>
            </div>
            <div class="box-body">
                <strong>
                    Pickup Address
                </strong>
                <p class="text-muted">
                    {{ job.pickup_address }}
                </p><hr />
                <strong>
                    Pick Up Additional Info
                </strong>
                <p class="text-muted">
                    {{ job.pickup_address_additional_info }}
                </p><hr />
                <strong>
                    Pick Up Time
                </strong>
                <p class="text-muted">
                    {{ job.pickup_time }}
                </p><hr />
                <strong>
                    Drop Off address
                </strong>
                <p class="text-muted">
                    {{ job.drop_off_address }}
                </p><hr />
                <strong>
                    Drop Off Additional Info
                </strong>
                <p class="text-muted">
                    {{ job.drop_off_additional_info }}
                </p><hr />
                <strong>
                    Delivered Time
                </strong>
                <p class="text-muted">
                    {{ job.delivered_time }}
                </p><hr />
                <strong>
                    Item
                </strong>
                <p class="text-muted">
                    {{ job.item }}
                </p><hr />
                <strong>
                    Courier
                </strong>
                <p class="text-muted">
                    <a href="{{ url_for('courier_detail', id=job.courier.id) }}">{{ job.courier.name }}</a>
                </p>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".add-courier-modal">Update</button>
                &nbsp;&nbsp;
                <a href="{{ url_for('delete_delivery_jobs', id=job.id) }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
</div>



<div class="modal fade add-courier-modal modal-info" tabindex="-1" role="dialog" aria-labelledby="courierLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update delivery jobs</h4>
            </div>

            <form action="" method="post" name="delivery_jobs">
            <div class="modal-body">
                <div style="color: #e42323">
                  {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                  {% endwith %}
                </div>
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="{{ form.pickup_address.id }}">{{ form.pickup_address.label.text }}</label>
                        {{ form.pickup_address(class_="form-control") }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.pickup_address_additional_info.id }}">{{ form.pickup_address_additional_info.label.text }}</label>
                        {{ form.pickup_address_additional_info(class_="form-control") }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.pickup_date.id }}">{{ form.pickup_date.label.text }}</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        {{ form.pickup_date(class_="form-control pull-right") }}
                        </div>
                    </div>

                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label for="{{ form.pickup_time.id }}">{{ form.pickup_time.label.text }}</label>
                            <div class="input-group">
                                {{ form.pickup_time(class_="form-control timepicker") }}
                                <div class="input-group-addon">
                                  <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{ form.drop_off_address.id }}">{{ form.drop_off_address.label.text }}</label>
                        {{ form.drop_off_address(class_="form-control") }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.drop_off_additional_info.id }}">{{ form.drop_off_additional_info.label.text }}</label>
                        {{ form.drop_off_additional_info(class_="form-control") }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.deliver_date.id }}">{{ form.deliver_date.label.text }}</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        {{ form.deliver_date(class_="form-control pull-right") }}
                        </div>
                    </div>


                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                          <label>{{ form.delivered_time.label.text }}</label>

                          <div class="input-group">
                                {{ form.delivered_time(class_="form-control timepicker") }}

                            <div class="input-group-addon">
                              <i class="fa fa-clock-o"></i>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                    </div>

                     <div class="form-group">
                        <label for="{{ form.item.id }}">{{ form.item.label.text }}</label>
                        {{ form.item(class_="form-control") }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.courier.id }}">{{ form.courier.label.text }}</label>
                        {{ form.courier(class_="form-control") }}
                    </div>
                  </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-default">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="/static/plugins/input-mask/jquery.inputmask.js"></script>
<script src="/static/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script>
    $(function() {

    $("#jobs_list").DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": true
    });

    $("#{{ form.pickup_date.id }}").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});

    $("#{{ form.deliver_date.id }}").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});

    $(".timepicker").timepicker({
      showInputs: false
    });
    });
  </script>
{% endblock %}